<%- include('partials/header') %>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
</head>


<body class="product-page">
  <%- include('navbar') %>

  <div class="main-box">
    <h1 style="font-size:35px; margin-top:0;" class="heading">About Us</h1>
    <p style="padding-bottom: 7px; text-align: center; width: 80%; margin: 5% auto 0; margin-top: 5%;">
        All our products are 100% handmade by local artisans. <br>
        We practice fair trade principles and every purchase generates meaningful income for the craftspeople and their families.<br>
        We are committed to making a positive local impact.<br>
        If you'd like to donate to our artisans and/or help fund their children's education, please reach out to us via email.
    </p>
    <div style="text-align: center; width: 80%; margin: 5% auto 0;" class="footer-bottom">
        &copy; anukriticrafts.com | Designed by GPS
    </div>

</div>

<%- include('partials/footer') %>
