<%- include('partials/header') %>

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
</head>


<body class="product-page">
  <%- include('navbar') %>

  <div class="main-box">
    <h1 style="font-size:35px; margin-top:0;" class="heading">Contact Us</h1>
      <div style="padding-bottom: 7px; text-align: center; width: 80%; margin: 5% auto 0; margin-top: 5%;" class="footer-section contact-info">
          <p>We are available on the following numbers:</p>
          <p style="margin-bottom:0;">+022 27700000</p>
          <p style="margin-bottom:0;">+022 27700001</p>
          <p>+022 27700002</p>
          <p>Between 9:00am - 5:00am IST</p>
          <p>Mondays through Saturday</p>
          <p style="margin-bottom:0;">You can also - <a href="mailto:us@example.com">Email us!</a></p>
          <p>We will get back to you as soon as possible.</p>
          <p>Feel free to reach out to us in case of any queries or complaints.</p>
      </div>
    <div style="text-align: center; width: 80%; margin: 5% auto 0;">
        &copy; anukriticrafts.com | Designed by GPS
    </div>

</div>





    <%- include('partials/footer') %>
