<%- include('partials/header') %>

<body class="product-page">

<%- include('navbar') %>

<div style="height: 100%;" class="centered">
  <h1 class="display-4 heading" style="border: 0;">Welcome to Anukriti!</h1>
  <a class="btn btn-warning btn-lg" href="/catalog" role="button">Browse</a>
</div>







<%- include('partials/footer') %>
