<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/frontpage">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggledContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/andhra">Andhra Pradesh</a>
          <a class="dropdown-item" href="/assam">Assam</a>
          <a class="dropdown-item" href="/gujarat">Gujarat</a>
          <a class="dropdown-item" href="/himachal">Himachal Pradesh</a>
          <a class="dropdown-item" href="/jk">Jammu & Kashmir</a>
          <a class="dropdown-item" href="/karnataka">Karnataka</a>
          <a class="dropdown-item" href="/kerala">Kerala</a>
          <a class="dropdown-item" href="/rajasthan">Rajasthan</a>
          <a class="dropdown-item" href="/uttar">Uttar Pradesh</a>
          <a class="dropdown-item" href="/catalog">Show Catalog</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/">Profile</a>
          <a class="dropdown-item" href="/">Orders</a>
          <a class="dropdown-item" href="/">Cart</a>
          <a class="dropdown-item" href="/">Wishlist</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact-us">Contact Us</a>
      </li>
    </ul>
    <a href="/logout" type="submit" class="btn btn-logout btn-outline-light">Logout</a>
  </div>
</nav>
