<%- include('../partials/header') %>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
  </head>

<body class="product-page">
<%- include('../navbar') %>

<h1 style="font-size:35px;" class="heading">Machilipatnam Kalamkari, Andhra Pradesh</h1>
<p class="category-description">Machilipatnam Kalamkari involves the use of vegetable dyed block-painting of fabrics and it is produced in Krishna district of Andhra Pradesh. This style initially evolved during the period of Mughal Dynasty. The saree with attractive prints and defining border is really worth the effort. </p>
<div class="card-deck" style="align-items: center;">
    <div class="card text-white bg-dark" style="max-width: 350px;">
      <img src="https://www.gitagged.com/wp-content/uploads/2018/09/Machilipatnam-Kalamkari-Scraf-Creepers-2-1.jpg" class="card-img-top product-image">
      <div class="card-body">
        <h5 class="card-title product-name">Card title</h5>
        <div class="card-text product-price"><p></p></div>
        <div class="card-text product-description"><p></p></div>
        <div class="card-text ratings"><p></p></div>
        <div class="card-text reviews"><p></p></div>
        <div  style="display:none;" class="product-id"><p></p></div>
        <a href="#" class="btn btn-info btn-product">Add to Cart</a>
        <a href="#" class="btn btn-info btn-product">Add to Wishlist</a>
      </div>
    </div>
    <div class="card text-white bg-dark" style="max-width: 350px;">
      <img src="https://lepakshihandicrafts.gov.in/images/products/kalamkari-prints/2.jpg" class="card-img-top product-image">
      <div class="card-body">
        <h5 class="card-title product-name">Card title</h5>
        <div class="card-text product-price"><p></p></div>
        <div class="card-text product-description"><p></p></div>
        <div class="card-text ratings"><p></p></div>
        <div class="card-text reviews"><p></p></div>
        <div  style="display:none;" class="product-id"><p></p></div>
        <a href="#" class="btn btn-info btn-product">Add to Cart</a>
        <a href="#" class="btn btn-info btn-product">Add to Wishlist</a>
      </div>
    </div>
</div>

<%- include('../partials/footer') %>
